In [1]:
import numpy as np
import pandas as pd

In [2]:
df= pd.read_csv("FoodBalanceSheets_E_Africa_NOFLAG.csv",encoding = "latin-1")

In [7]:
df.columns

Index(['Area Code', 'Area', 'Item Code', 'Item', 'Element Code', 'Element',
       'Unit', 'Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018'],
      dtype='object')

In [3]:
df.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [5]:
result = df.groupby('Element')['Y2017'].sum()
print("Total sum of Processing in 2017:", result)

Total sum of Processing in 2017: Element
Domestic supply quantity                  2088198.10
Export Quantity                            182338.80
Fat supply quantity (g/capita/day)          10253.84
Feed                                       223705.68
Food                                      1258888.28
Food supply (kcal/capita/day)              454681.00
Food supply quantity (kg/capita/yr)         48690.04
Import Quantity                            294559.09
Losses                                     160614.00
Other uses (non-food)                       91645.97
Processing                                 292836.00
Production                                2030056.89
Protein supply quantity (g/capita/day)      11842.45
Residuals                                   35500.00
Seed                                        24870.14
Stock Variation                             54316.91
Total Population - Both sexes             1112641.00
Tourist consumption                            91.00
Name: Y2017, dtype: float64

In [15]:
result1 = df[df['Element'] == 'Stock Variation'].groupby('Element').sum()
highest_year = result1.iloc[0].idxmax()
print("Year with the highest sum of Stock Variation:", result1)

Year with the highest sum of Stock Variation:                  Area Code  Item Code  Element Code     Y2014     Y2015  \
Element
Stock Variation     571566   11329527      21464704  58749.83  34910.99

                    Y2016     Y2017     Y2018
Element
Stock Variation  33140.12  54316.91  20577.91

In [16]:
missing_count = df['Y2014'].isna().sum()
total_count = len(df['Y2014'])
missing_percentage = (missing_count / total_count) * 100
print("Total number of missing data in 2014:", missing_count)
print("Percentage of missing data in 2014: {:.3f}%".format(missing_percentage))

Total number of missing data in 2014: 1589
Percentage of missing data in 2014: 2.607%

In [17]:
S = [['him', 'sell'], [90, 28, 43]]

S[0][1][1]

'e'

In [18]:
df_2017 = df[['Y2017']]
mean_2017 = df_2017.mean().values[0]
std_2017 = df_2017.std().values[0]
print("Mean for the year 2017: {:.2f}".format(mean_2017))
print("Standard Deviation for the year 2017: {:.2f}".format(std_2017))

Mean for the year 2017: 140.92
Standard Deviation for the year 2017: 1671.86

In [19]:
# Select columns 'Y2017' and 'Area'
df_subset = df[['Y2017', 'Area']]

# Groupby 'Area' and calculate the sum for 'Y2017'
grouped = df_subset.groupby('Area')['Y2017'].sum()

# Sort the sums in ascending order
sorted_sums = grouped.sort_values(ascending=True)

# Get the Area with the 7th lowest sum in 2017
seventh_lowest_area = sorted_sums.index[6]

# Print the Area with the 7th lowest sum in 2017
print("Area with the 7th lowest sum in 2017:", seventh_lowest_area)

Area with the 7th lowest sum in 2017: Guinea-Bissau

In [20]:
# Calculate the correlation between 'Element Code' and each year
correlations = df.iloc[:, 5:].corrwith(df['Element Code'])

# Find the year with the least correlation
least_corr_year = correlations.idxmin()

# Print the year with the least correlation with 'Element Code'
print("Year with the least correlation with 'Element Code':", least_corr_year)

Year with the least correlation with 'Element Code': Y2016

In [23]:
# Create the numpy array
array = np.array([[94, 89, 63],
                  [93, 92, 48],
                  [92, 94, 56]])


# Select elements from the first row (89, 63)
first_row_elements = array[0, 1:]

# Select elements from the second row (92, 48)
second_row_elements = array[1, 1:]

# Print the selected elements
print("Elements from the first row:", first_row_elements)
print("Elements from the second row:", second_row_elements)

Elements from the first row: [89 63]
Elements from the second row: [92 48]

In [24]:
# Define the list and column names
lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30, 'Brazil', 92]]
col = ['Age', 'Nationality', 'Overall']

# Create the DataFrame
df1 = pd.DataFrame(lst, columns=col,index=[1,2,3])

# Print the DataFrame
print(df1)

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92

In [25]:
# Calculate the total number of unique countries in the 'Area' column
unique_countries = df['Area'].nunique()

# Print the total number of unique countries
print("Total number of unique countries:", unique_countries)

Total number of unique countries: 49

In [26]:
# Filter the dataset for Wine and select the columns for 2015 and 2018
wine_df = df[df['Item'] == 'Wine'][['Y2015', 'Y2018']]

# Calculate the total sum of Wine produced in 2015 and 2018
total_sum_2015 = wine_df['Y2015'].sum()
total_sum_2018 = wine_df['Y2018'].sum()

# Print the total sum of Wine produced in 2015 and 2018
print("Total sum of Wine produced in 2015:", total_sum_2015)
print("Total sum of Wine produced in 2018:", total_sum_2018)

Total sum of Wine produced in 2015: 4251.8099999999995
Total sum of Wine produced in 2018: 4039.3199999999997

In [27]:
# Select columns 'Y2017' and 'Area'
df_subset = df[['Y2017', 'Area']]

# Perform groupby operation on 'Area' and calculate the sum for 'Y2017'
grouped = df_subset.groupby('Area')['Y2017'].sum()

# Find the Area with the highest sum in 2017
highest_sum_area = grouped.idxmax()

# Print the Area with the highest sum in 2017
print("Area with the highest sum in 2017:", highest_sum_area)

Area with the highest sum in 2017: Nigeria

In [29]:
my_tuppy = (1,2,5,8)

my_tuppy[2] = 6

TypeError: 'tuple' object does not support item assignment

In [32]:
# Filter the DataFrame for Madagascar and select the 'Y2015' column
madagascar_protein_2015 = df.loc[df['Area'] == 'Madagascar', 'Y2015'].values[0]

# Print the total Protein supply quantity in Madagascar in 2015
print("Total Protein supply quantity in Madagascar in 2015:", madagascar_protein_2015)

Total Protein supply quantity in Madagascar in 2015: 24234.0

In [31]:
y = [(2, 4), (7, 8), (1, 5, 9)]

# Assign element 8 to variable x
x = y[1][1]

# Print the value of x
print(x)

8